.primary-content{
    display: flex;
    flex-direction: row;
    width:600px;
    flex-grow: 0;
    justify-content: space-between;
    border-bottom: groove #2d5f78;;
    padding: 3px;
    border-radius: 5px;
    background-color: #2d5f78;
}
.secondary-content{
    display: flex;
    flex-direction: row;
    width:600px;
    flex-grow: 0;
    justify-content: space-between;
    padding: 3px;
    border-radius: 5px;
    background-color:  #2d5f78;
}
.task{
    border-bottom: 10px;
    border-style: groove;
    border-radius: 5px;

}