.task{
    border-bottom: 10px;
    border-style: groove;
    border-radius: 5px;
    max-height: 100vh;

}
.primary-content{
    display: flex;
    flex-direction: row;
    width:600px;
    font-size: 1.5em;
    flex-grow: 0;
    justify-content: flex-start;
    border-bottom: groove #2d5f78;;
    padding: 3px;
    border-radius: 5px;
    background-color: #2d5f78;
}

input.todoHead{
    background-color: #2d5f78;
    border: none;
    font-size: 1.25em;
}

.secondary-content{
    display: flex;
    flex-direction: row;
    width:600px;
    flex-grow: 0;
    justify-content: space-between;
    padding: 3px;
    border-radius: 5px;
    background-color:  #477f9c;
}

.todo-notes{
    height: 100px;
    width: 300px;
    border-radius: 5px;
    resize: none;
    font-size: 1.25em;
    font-style: italic;
    font: green;
    font-weight: 550;
    background: #9acbe3;
}

.duedate-priority{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.delete-icon {
    font-size: 1em;
    font-style: bold ;
    border-radius: 6px;
    justify-content:center;
    cursor: pointer;
    box-shadow: 0 -15px 15px #477f9c,
    inset 0 -15px 15px #477f9c,
    0 15px 15px #2d5f78,
    inset 0 -15px 15px #2d5f78
}
.delete-icon:hover{
    box-shadow: 0 -5px 5px red,
    inset 0 -15px 15px crimson,
    0 5px 5px red,
    inset 0 -15px 15px crimson
}

.task[completed=true] .primary-content {
    background-color: #1e313a;
    
}
.task[completed=true] .todoHead{
    background-color: #1e313a;
}

.task[completed=true] .todoHead{
    text-decoration: line-through;
}